.header-wrap{
  min-height: 25px;
  background-color:var(--main-bg);
}

.header-list{
  margin-right:10vw;
  display: flex;
  align-items: center;
  justify-content: right;  
}

.header-list .header-item{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.header-list .header-item:hover{
  cursor: pointer;
  text-shadow: 0 0 3px rgba(0,0,0,0.8),0 0 5px white;
}

/* .header-wrap li button{
  border: none;
  outline: none;
  padding: 0 30px;
  font-weight: bolder;
} */
